name: Scheduled integration tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '*/30 * * * *' # Run every 30 minutes

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run integration tests
        run: npm test ./test/serverFunctions/getWeatherData.int.test.ts 
